.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  flex-direction: column-reverse; /* Reverse the order of the messages */
}


.sender-message,
.receiver-message {
  border: 1px solid #ddd;
  width: 680px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.timestamp {
  color: #888;
  font-size: 12px;
  margin-bottom: 5px;
}

.sender-label,
.receiver-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.btn-delete-message {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
}

.chat-input {
  flex: 1;
  position: fixed;
  width: 720px;
  height: 60px;
  top: auto;
  left: 45px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}


.chat-input-button:hover {
  background-color: #2980b9;
}
